/* --- HEADER --- */

.navbar {
  border-bottom: 1px solid #111;
}


.navbar-brand {
  font-size: 1.5rem;
  letter-spacing: 1px;
}


.nav-link {
  color: white !important;
  font-weight: 500;
  margin-left: 20px;
  position: relative;
  transition: color 0.3s ease;
}


/* Subrayado en hover */
.nav-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #c8a2ff;
  transition: width 0.3s;
}


.nav-link:hover::after {
  width: 100%;
}


/* Subrayado en la opción activa */
.nav-link.active::after {
  width: 100%;
}


.nav-link:hover {
  color: #c8a2ff !important;
}



/* --- MAIN --- */
.project-card {
  position: relative;
  overflow: hidden;
}


.project-card a {
  display: block;
}


.project-title {

  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(200, 162, 255, 0.45);

  color: white;

  font-size: 1.3rem;

  letter-spacing: 3px;

  font-weight: 500;

  opacity: 0;

  transition: opacity 0.4s ease;

}


.project-card:hover .project-title {

  opacity: 1;

}


.project-card:hover .project-img {

  transform: scale(1.05);

}

.project-img {

  transition: transform 0.5s ease;

}

/* Espai entre les imatges i efecte hover */
.project-img {
  width: 100%;
  height: auto;
  cursor: pointer;

  transition:
    transform 0.5s ease,
    filter 0.5s ease;

  /* elimina l'aspecte massa "quadrat" */
  filter: drop-shadow(0 15px 25px rgba(0, 0, 0, 0.12));
}


/* Efecte quan passes el ratolí */
.project-img:hover {
  transform: scale(1.05);

  filter: drop-shadow(0 25px 35px rgba(0, 0, 0, 0.22));
}

/* Ribaroja */
.ribaroja .project-title {
  background: rgba(168, 76, 50, .45);
}

/* Canyada */
.canyada .project-title {
  background: rgba(63, 112, 82, .45);
}

/* Juan AM */
.juanam .project-title {
  background: rgba(86, 74, 124, .45);
}

/* Madrid */
.madrid .project-title {
  background: rgba(44, 83, 120, .45);
}

/* Piles */
.piles .project-title {
  background: rgba(160, 132, 72, .45);
}

/* Torrent */
.torrent .project-title {
  background: rgba(90, 90, 90, .45);
}

/* Sequer */
.sequer .project-title {
  background: rgba(122, 87, 56, .45);
}


/* Més aire entre projectes */
.row {
  --bs-gutter-x: 2rem;
  --bs-gutter-y: 2rem;
}

img {
  display: block;
}

.bg-black p {
  font-size: 0.85rem;
  letter-spacing: 0.5px;
}

@media(max-width:991px) {

  .bg-black p {
    font-size: 0.9rem;
  }

}

@media (max-width: 576px) {

  .navbar-brand {
    font-size: 1.15rem;
    letter-spacing: 0.5px;
  }

}